cloud_id = "b1gndi0ne5h3"
folder_id = "b1gnegbd701"
zone = "ru-central1-a"
image_id = "fd8p5saqira2"
public_key_path = "ubuntu.pub"
private_key_path = "ubuntu"
subnet_id = "e9b6t9ba3s"
service_account_key_file = "key.json"

